hr {
    border:none;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid grey;
    box-shadow: 0 20px 20px -20px #333;
    margin: 0 0px auto 0px;
}
.title-box
{
    height:20vh;
}
body
{
    overflow-x:hidden;
}

.body-container
{
    box-shadow: inset 0 0 10px #333;
    height:auto;
    font-size:30px;
    padding-top:1px;
}
.create-box
{
    height:28%;
    width:12%;
    border:1px solid black;
    border-radius:16px;
    box-shadow: 5px 10px 5px grey;
    margin: 1% 0 0 1%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.create-title
{
    z-index: 1;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: Calibri;
}

.plus-icon
{
    height:100%;
    width:100%;
    margin: -1% 2% 0% -1%
}
.table-names
{
    display:flex;
    height:7%;
    width:97.5%;
    border:1px solid black;
    border-radius:16px;
    box-shadow: 5px 10px 5px grey;
    margin:1% 0 0 1%;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: rgb(200, 227, 197);
}

.name-box
{
    border:1px dotted green;
    width:59%;
}

.price-box
{
    border:1px dotted blue;
    width:15%;
}
.link-box
{
    border:1px dotted purple;
    width:20%;
}
.edit-box
{
    height:100%;
    width:9%;
    border:2px dotted red;

}


.wish-box
{
    display:flex;
    height:25%;
    width:97.5%;
    border:1px solid black;
    border-radius:16px;
    box-shadow: 5px 10px 5px grey;
    margin:1% 0 0 1%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.wish-title
{
    border:1px dotted green;
    width:165%;
}
.wish-price
{
    border:1px dotted blue;
    width:50%;
    margin-right:2%;
}
.wish-link
{
    border:1px dotted purple;
    width:40%;

}
.img-wish-box{
    height:100%;
    width:59%;
    border:2px dotted red;
    margin-left:25%;

}
#edit-img
{
    height:100%;
    width:100%;
    margin: 0% 0% 0% 0%
}

.create-title pre
{
    font-family: Calibri;
}