<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../css/frontpage.css}" href="../static/css/frontpage.css">
    <title>Home</title>
</head>
<body>
<div class="title-box">
    <h1> Welcome back <span th:text="${session.username}">USERNAME</span> </h1> <hr>
</div>
<h2>Your wishlists</h2>
<div class="body-container">

       <div class="create-box">
           <a href="/createlist" >
               <span class="wishlist-title"><pre>Add new</pre></span>
        <img class="plus-icon" th:src="@{/images/plus.png}" src="../static/images/plus.png" alt="plus-icon">
           </a>
        </div>

    <div class="wishlist-box" th:each="wishlist : ${wishlists}">
        <a href="/wishlist" th:href="@{'/wishlist/'+${wishlist.getWishlistID}}">
        <span class="wishlist-title" th:text="${wishlist.getWishlistName}">Wishlist title</span>
            <img class="wishlist-img" th:src="@{/images/present.png}" src="../static/images/present.png" alt="present-icon">
        </a>
    </div>
</div>
</body>
</html>